body{
    background: color #222;;
}
.card{
    padding:40px 35px;
    text-align:center;
    width:90%;
    max-width:470px;
    background:linear-gradient(135deg, #034f84 ,#b1cbbb);
    color:#fff;
    margin:100px auto 0;
    border-radius:20px;
}
.search{
    width:100%;
    /* margin-top:25px; */
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.search input{
    border:0;
    outline:0;
    background:#ebfffc;
    color:black;
    padding:10px 25px;
    height:60px;
    border-radius:30px;
    flex:1;
    margin-right:16px;
    font-size:18px;
}

.photo-icon{
    width:220px;
    height:200px;
    margin-top:30px;
}
.photo h1{
    font-size:45px;
    font-weight:400;
    margin-top:-10px;
}
.details{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 20px;
    margin-top:50px;
}
.col{
    display:flex;
    align-items:center;
    text-align:left;
}
.col img{
    width:40px;
    margin-right:10px;
}